@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: url('tela.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    position: relative;
    padding: 20px;
    overflow-x: hidden; 
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com opacidade */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Ajuste a largura máxima conforme necessário */
    position: relative;
    margin-bottom: 2%;
    z-index: 2;
}

h1 {
    margin-bottom: 20px;
    color: #007bff;
}

.exercise {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="number"] {
    width: calc(100% - 20px); /* Ajusta o tamanho do input para considerar o padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* RESPONSIVO */
@media (max-width: 600px) {

    .container {
        padding: 15px;
        max-width: 100%; 
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    p {
        font-size: 1rem;
    }
}